@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
:root {
  --black-text: #374151;
  --secondary-text: #6b7280;
  --body-color: #f9fafb;
  --primary-color: #6c63ff;
  --primary-color-light: #dae1f9;
  --white: #f3f4f6;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--black-text);
  background: var(--body-color);
}

h1 {
  font-size: 42px;
}
h2 {
  font-size: 39px;
}
h3 {
  font-size: 31px;
}
h4 {
  font-size: 25px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 20px;
}
p {
  font-size: 16px;
}
